.line {
  display: block;
  width: 15%;
  height: 1px;
  border: 0;
  border-top: 1.7px solid black;
  margin: 1em 5px;
  padding: 0;
}

.flight-label-item {
  background: rgb(237, 181, 34);
  background: radial-gradient(
    circle,
    rgba(237, 181, 34, 1) 0%,
    rgba(255, 170, 50, 1) 80%
  );
  color: #01244e;
  width: 25%;
  border-radius: 0 0 8px 8px;
  text-align: center;
}
.flight-container {
  background: rgb(214, 238, 255);
  background: radial-gradient(
    circle,
    rgba(214, 238, 255, 1) 0%,
    rgba(190, 235, 245, 1) 72%
  );
}
